<div class="page-top">
    <a class="logo" href="">Zealmass</a>
    <a class="menu-icon" href=""></a>

    <div class="search">
        <i class=""></i>
        <input id='search-input' placeholder="Search...." type="" name="" value="">
    </div>

    <div class="user-profile">
        <a class="profile-toggle-link" href="">
            <img src="" alt="">
        </a>
        <ul>
            <li><i class='fa fa-sort-desc'></i></li>
            <li><a href="#"><i class='fa fa-user' aria-hidden="true"></i>Profile</a></li>
            <li><a href="#"><i class='fa fa-cog' aria-hidden="true"></i>Settings</a></li>
            <li><a class="sign-out" href="#"><i class='fa fa-power-off' aria-hidden="true"></i>Sign out</a></li>
        </ul>
    </div>
</div>